<%if @people.present?%>
  <% @people.each do |person|%>
    <%person.present?%>
      <h3>Name:</h3> <%= link_to person.name, person_path(get_id(person.url))%>
    <%end%>
  <%end%>
<%else%>
  Something went wrong! Check back at a later time.
<%end%>